<style>
    table {
        width: 100%;
    }
</style>

<table border="border">
    <caption>INFORMACIÓN CAPTURADA</caption>
    <tbody>
    <tr>
        <td>Dirección IP</td>
        <td>{{__IP__}}</td>
    </tr>
    <tr>
        <td>Punto de Acceso</td>
        <td><a href="{{__HOST_URL__}}{{__ENDPOINT__}}">{{__ENDPOINT__}}</a></td>
    </tr>
    <tr>
        <td>Página Web</td>
        <td><a href="{{__HOST_URL__}}">{{__HOST_URL__}}</a></td>
    </tr>
    <tr>
        <td>Mensaje</td>
        <td>{{__MESSAGE__}}</td>
    </tr>
    <tr>
        <td>Identificador de Solicitud</td>
        <td>{{__REQUEST_ID__}}</td>
    </tr>
    <tr>
        <td>Fecha de Ingreso</td>
        <td>{{__DATE__}}</td>
    </tr>
    <tr>
        <td>Duración de Petición</td>
        <td>{{__REQUEST_DURATION__}}s</td>
    </tr>
    </tbody>
</table>