<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{__DESCRIPTION__}}">
    <meta property="og:title" content="{{__TITLE__}}">
    <meta property="og:description" content="{{__DESCRIPTION__}}">
    <meta property="og:url" content="https://minayabeltran.com/">
    <title>{{__TITLE__}}</title>
    {{__FAVICON__}}
    {{__CSS__}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/all.css?v={{__VERSION__}}">
</head>
<body>
@{...}@
{{__JS__}}
<script src="/assets/js/all.js?v={{__VERSION__}}"></script>
</body>
</html>